.Title-container {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  width: 70vw;
  min-height: 90px;
  border-radius: 10px;
  flex-shrink: 0;
  transition: min-height 0.5s ease-in-out;
  border-top: 10px solid #627c90;
  padding: 20px;
}

.active {
  box-shadow: 6px 0 0 #4285f4 inset, 0 2px 4px rgba(0, 0, 0, 0.2);
  min-height: 120px;
}

.Title-container-title,
.Title-container-description {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  color: #202124;
}

.Active-title-container {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #ced4da;
  color: #202124;

  &:focus {
    border-bottom: 2px solid #475b6a;
  }
}

.Title-container-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.Title-container-description {
  font-size: 15px;
}
