.Dropdown-menu {
  min-width: 14em;
  position: relative;
}

.Dropdown-menu * {
  box-sizing: border-box;
}

.Select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #e2e6e9;
  border-radius: 0.5em;
  padding: 0.9em;
  cursor: pointer;
  transition: background 0.3s;
  user-select: none;
}

.Select-clicked {
  border: 2px solid red;
  box-shadow: 0 0 0.8em #26489a;
}

.Select-container:hover {
  background-color: #f8f9fb;
}

.Icon-label {
  display: flex;
  column-gap: 0.8em;
}

.Caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #606369;
  transition: 0.3s;
}

.Caret-rotate {
  transform: rotate(180deg);
}

.Dropdown-item-container {
  margin-top: 18px;
  list-style: none;
  padding: 0.2em 0.5em;
  background: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: #202124;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  user-select: none;
}

.Dropdown-item-container li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  column-gap: 12px;
}

.Dropdown-item-container li:hover {
  background-color: #eeeeee;
}

.Item-active {
  background-color: #f2f2ff;
}

.Opened {
  display: block;
  opacity: 1;
}
