.App {
  text-align: center;
  background-color: #eff3fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.Form-required {
  color: red;
}

.Font-medium {
  font-weight: 500;
}

.Font-14 {
  font-size: 14px;
}

.Font-17 {
  font-size: 17.5px;
}

.Box-Container {
  background-color: white;
  width: auto;
  height: 500px;
  border-radius: 53px;
  display: flex;
  flex-direction: column;
  padding: 70px;
}

.Header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  width: 66px;
  height: 64px;
  justify-content: center;
  align-items: center;
}

.Text-welcome {
  font-size: 24.5px;
  color: #212121;
}

.Text-login {
  color: #495057;
}

.Form-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Input-container {
  display: flex;
  flex-direction: column;
  padding: 7px;
}

.Input {
  padding: 10.5px;
  border-radius: 6px;
  border-width: 1px;
  border: 1px solid #ced4da;
}

.Forget-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Container-check {
  display: flex;
  flex-direction: row;
}

.Check-Box {
  border: 2px solid #ced4da;
  background: #ffffff;
  width: 22px;
  height: 22px;
  color: #495057;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}
