.Home-main {
  display: flex;
  height: 88vh;
  flex-direction: column;
  align-items: center;
  background-color: #eff3fa;
}

.Home-section {
  text-align: center;
  display: flex;
  flex-direction: column;
}
